/* #main {
    padding-top: 100px;
} */



.wrapper {
    background: #E7E6E6;
    color: #141414;
    
}

.hero {
    background: #E7E6E6;
    display: flex;
    position: relative;
    padding: 150px 0;
}

.hero .hero--main {
    color: #141414;
    text-align: left;
    /* margin-top: 50px;
    margin-bottom: 50px; */
}

.hero .hero--image img {
    margin-top: -25px;
}




.hero .hero--main, .hero .hero--image {
    padding: 0 50px;
}

.hero .hero--main h1 {
    font-size: 53.37px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.hero .hero--main h2 {
    font-size: 23.63px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 600;
}

.hero .hero--main h3 {
    font-size: 16px;
    padding-bottom: 30px;
    font-weight: normal;
}

.hero .hero--main div.button a {
    background: #E7E6E6;
    border: 2px solid #141414;
    font-size: 16px;
    padding: 10px;
    color: #141414;
}



.hero .hero--main hr, .hero .hero--image hr, .hero hr {
    border: none;
    background: #141414;
}

.hero .hero--main hr, .hero .hero--image hr {
    height: 3px;
}

#line {
    width: 17px;
    /* margin: 10px; */
}

.plates div.line {
    display: flex;
    gap: 10px;

}

.plates div.line div:not(div.line--naming) {
    background: #EEEEEE;
    flex-grow: 1;
    padding: 10px;
}

.plates div.line:not(:last-of-type) {
    margin-bottom: 20px;
}

.plates div.line div.line--naming:first-child {
    display: flex;
    justify-content: space-between;
}

.plates div.line div.line--naming img {
    object-fit:cover;
}

.plates h3 {
    font-size: 28px;
    color: #3044FF;
}

.plates h2 {
    font-size: 42px;
    color: #3044FF;
}

.plates h5 {
    font-size: 15.38;
    font-weight: normal;
    color: #141414;
}


.plates {
    padding: 0 50px;
}



.head h2 {
    font-size: 41.34px;
    color: #141414;
    padding: 20px 0;
}

.head h3 {
    font-size: 19.38px;
    font-weight: normal;
    color: #141414;
    padding-top: 20px;
    padding-bottom: 60px;
}

.head {
    padding: 50px;
}

.head .line h1 {
    font-size: 27.67;
    color: #141414;

}

.head .line h4 {
    font-size: 15.63px;
    color: #141414;
    font-weight: normal;
}

.head .line {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.head .line div {
    background: #EEEEEE;
    padding: 20px;
}

.head .line:not(:first-of-type) {
    margin-top: 50px;
}