.plates div.line {
    display: flex;
    gap: 10px;

}

.plates div.line div:not(div.line--naming) {
    background: #EEEEEE;
    flex-grow: 1;
    padding: 10px;
}

.plates div.line:not(:last-of-type) {
    margin-bottom: 20px;
}

.plates div.line div.line--naming:first-child {
    display: flex;
    justify-content: space-between;
}

.plates div.line div.line--naming img {
    object-fit:cover;
}

.plates h3 {
    font-size: 28px;
    color: #3044FF;
}

.plates h2 {
    font-size: 42px;
    color: #3044FF;
}

.plates h5 {
    font-size: 15.38;
    font-weight: normal;
    color: #141414;
}


.plates {
    padding: 0 50px;
}



.head h2 {
    font-size: 41.34px;
    color: #141414;
    padding: 20px 0;
}

.head h3 {
    font-size: 19.38px;
    font-weight: normal;
    color: #141414;
    padding-top: 20px;
    padding-bottom: 60px;
}

.head {
    padding: 50px;
}

.head .line h1 {
    font-size: 27.67;
    color: #141414;

}

.head .line h4 {
    font-size: 15.63px;
    color: #141414;
    font-weight: normal;
}

.head .line {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.head .line div {
    background: #EEEEEE;
    padding: 20px;
}

.head .line:not(:first-of-type) {
    margin-top: 50px;
}


.roadmap h1 {

    font-size: 27.67;
    color: #141414;

}

.roadmap {
    padding: 50px;
}

.roadmap .blocks {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.roadmap h1 {
    font-size: 27.67;
    color: #141414;
}



.roadmap .blocks h2 {
    font-size: 27.67;
    color: #3044FF;
}

.roadmap .blocks {
    display: flex;
    
}

.head h1 {
    font-size: 41.34px;
    color: #141414;
    padding: 20px 0;
}
/* 
.head .cards div.block {
    background: #EEEEEE;
    padding: 20px;
} */

.wrapper > div > img {
    width: 100%;
    height: auto;
    display: block; /* Чтобы убрать возможные пробелы */
}


.orbit h2 {
    font-size: 41.34px;
    color: #EEEEEE;
    padding: 60px 0;
    background-color: #141414;
    background-size: 100%;
    text-align: center;
}

.orbit h3 {
    font-size: 27.67px;
    padding-bottom: 50px;
    color: #EEEEEE;
    background-color: #141414;
    background-size: 100%;
    text-align: center;
}



.wrapper.cards {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}

.wrapper .block {
    display: flex;
    align-items: center;
    gap: 10px; 
    padding: 10px;
    border-radius: 5px;
}

.wrapper .block img {
    width: 60px; 
    height: 150px;
    object-fit: contain; 
}

.cards {
    margin-left: 45px;
}

