#main {
    padding-top: 100px;
}

.hero {
    position: relative;
}

/* .hero--video, .hero--main {
    grid-area: 1/2;
} */

.hero .hero--video {
    overflow: hidden;
    width: 100%;
}

.hero--main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    color: white;
    /* background: #141414; */
}

.hero h1 {
    font-size: 92px;
    font-weight: bold;
}

.hero h2 {
    font-size: 31.25px;
    font-weight: 500;
}

.hero div.button {
    margin-top: 10vh;
}

.hero div.button a {
    padding: 24px 80px;
    font-size: 30px;
    /* border-radius: 20px; */
}

.hero div.button a:hover {
    background: #3044FF;
}



/* .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background:linear-gradient(to right,rgba(65, 0, 255, 0.4),rgba(255, 0, 232, 0.3));
    top: 0;
    left: 0;
} */

/* Галлерея */


.gallery {
    padding: 50px 0;
}

.gallery h3{
    font-size: 41.67px;
    font-weight: bold;
}

.gallery .see-all {

    text-align: center;
}

.gallery .see-all a {
    font-size: 25px;
    padding: 12px 35px;
}

.gallery .see-all a:hover {
    /* padding: 15px 70px; */
    font-size: 2em;
    background: #3044FF;
}

.gallery .fences {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}

.gallery .fences div.block {
    width: 32%;
    height: 40;
    background: #EEEEEE;
    transition: all 500ms ease;
    
}

.gallery .fences div.block div:not(.description) {
    font-size: 20px;
    font-weight: 500;
    padding: 15px 10px;
}

.gallery .fences div.block div.description {
    
    padding: 15px 10px;
}

.gallery .fences div.block:hover {
    box-shadow: 0 0 10px #242323;
}



.partners h3 {
    font-size: 41.67px;
    font-weight: 600;
    padding: 30px 0;
    
}

.partners .block div {
    font-size: 20px;
    font-weight:normal;
    margin-bottom: 20px;
    
}

.partners .block div.part {
    display: flex;
    justify-content: space-between;
}

.partners .block div.part img {
    width: 200px;
    height: 200px;
    margin: 10px;
    margin-bottom: 100px;
}

.stipuha h4 {
    font-size: 41.67px;
    font-weight: 600;
    padding-bottom: 20px;
}

.stipuha div.brief {
    font-size: 20px;
    font-weight:normal;
    margin-bottom: 20px;
}

.stipuha div.second img {
    width: 50%;
    height: 50%;
    margin: 10px;
    margin-bottom: 100px;
}

.stipuha {
    padding-bottom: 20px;
    padding-top: 80px;
    background: #e0dcdc;
}
.stipuha * {
    padding-left: 40px;
}


.karta {
    margin-top: 150px;
}

.karta .places {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 50px 0;
}

.karta .places div.block {
    width: 32%;
    height: 40;
    background: #EEEEEE;
    transition: all 500ms ease;
    
}

.karta .places div.block div:not(.description) {
    font-size: 20px;
    font-weight: 500;
    padding: 15px 10px;
}

.karta .places div.block div {
    
    padding: 15px 10px;
}

.karta .places div.block:hover {
    box-shadow: 0 0 10px #242323;
}

.karta h4 {
    font-size: 41.67px;
    font-weight: 600;
    padding-bottom: 20px;
}

.find div.block {
    padding: 50px 0;
}

.find h4 {
    font-size: 41.67px;
    font-weight: 600;
    padding-bottom: 20px;
}

.find div.block img {
    width: 76%;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: all 500ms ease;
}

.find div.block img:hover  {
    box-shadow: 0 0 10px #242323;
}

/* Нижняя часть */

.mail {
    padding: 100px 0;
}

.mail div.block {
    background: #e0dcdc;
    margin-top: 30px;
    padding: 50px 3%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mail div.block h4 {
    font-size: 30px;
    font-weight: 600;
}

.mail div.block input {
    background: #e0dcdc;
    outline: none;
    border: 2px solid #141414;
    width: 360px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    padding: 9px 22px;
    display: block;
}
/* 
.mail div.block input::placeholder {
    color: #E7E6E6;
} */


.mail div.block button {
    padding: 9px 17px;
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 18px;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .hero h1 {
        font-size: 40px;
    }

    /* .hero h2 {
        font-size: 20px;
    } */
}

@media screen and (max-width: 650px) {
    .hero .hero--video {
        min-height: 0;
        /* height: 65vh; */
    }

    .hero div.button {
        margin-top: 4vh;
    }
    
    .hero div.button a {
        padding: 9px 30px;
        font-size: 20px;
    }
    
    .hero h2 {
        font-size: 25px;
    }

    /* заборы */
    
    .gallery h3{
        font-size: 35px;
    }
    
    /* .gallery .see-all a {
        font-size: 25px;
        padding: 12px 35px;
    } */
    
    .gallery .see-all a:hover {
        font-size: 1em;
    }
    
    .gallery .fences {
        display: block;
        width: 100%;
    }
    
    .gallery .fences div.block {
        width: 98%;
        margin: 50px 1%;
    }
    
    .gallery .fences div.block div:not(.description), .gallery .fences div.block div.description {
        padding: 7.5px 5px;
    }
    
    .gallery .fences div.block:hover {
        box-shadow: 0 0 0;
    }

    /* партнеры */

    .partners h3 {
        font-size: 35px;
        padding: 30px 0;
        
    }
    
    /* .partners .block div {
        font-size: 20px;
        margin-bottom: 20px;
    } */
    
    .partners .block div.part {
        display: block;
    }

    /* стипуха */

    .stipuha h4 {
        font-size: 35px;
        padding-bottom: 15px;
    }
    
    .stipuha div.brief {
        font-size: 15px;
        margin-bottom: 15px;
    }
    
    .stipuha img {
        padding: 0;
        margin: 0;
    }
    
    .stipuha {
        padding-top: 30px;
    }
    .stipuha *:not(img) {
        padding-left: 5px;
    }
    
    /* map */

    .karta {
        margin-top: 30px;
    }
    
    .karta .places {
        display: block;
        padding: 50px 0;
    }
    
    .karta .places div.block {
        width: 98%;
        margin: 25px 1%;
    }
    
    .karta .places div.block div:not(.description) {
        font-size: 20px;
        padding: 0;
    }
    
    .karta .places div.block div {
        padding: 0;
    }
    
    .karta h4 {
        font-size: 35px;
        padding: 0px;
    }
    
    .find div.block {
        padding: 25px 0;
    }
    
    .find h4 {
        font-size: 35px;
        padding-bottom: 15px;
    }
    
    .find div.block img {
        width: 98%;
        padding: 0 1%;
    }
    
    /* Нижняя часть */
    
    .mail {
        padding: 50px 0;
    }
    
    .mail div.block {
        margin-top: 15px;
        padding: 40px 3%;
        width: 94%;
        display: block;
    }
    
    .mail div.block h4 {
        font-size: 30px;
        padding-bottom: 15px;
    }
    
    .mail div.block input {
        width: 80%;
        font-size: 18px;
        padding: 9px 10%;
    }

}

@media screen and (max-width: 500px) {
    .hero h1 {
        font-size: 30px;
    }
}
