div.main-header {
    padding-bottom: 25px;
}

div.main-header h1 {
    padding-bottom: 15px;
    font-size: 41.67px;
    font-weight: bold;
}

.classes h3 {
    font-size: 41.67px;
    font-weight: 600;
    padding: 80px 0;
}
