
.container > div {
    margin-bottom: 25px;
}

.container .description div {
    margin-bottom: 15px;
}

.container .section .content {
    margin-top: 20px;
}

.container .section .content > .subsection {
    margin-bottom: 25px;
}

.container .section .content h3, .container .section .content h4 {
    margin-bottom: 10px;
}

.container .section .content div, .container .section .content ol, .container .section .content ul {
    margin-bottom: 15px;
}

li {
    margin-left: 35px
}

.container .section .content div.arthefacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container .section .content div.arthefacts > div, .container .section .content div.facts > div {
    border: solid 10px white;
    border-radius: 5px;
    background-color: white;
}

.container .section .content div.arthefacts > div {
    width: 30%;
}

.container .section .content div.arthefacts > div > div.name, .container .section .content div.facts > div > div.name {
    font-size: 20px;
    font-weight: bold;
}

.container .section .content div.arthefacts > div > * {
    margin-bottom: 5px;
}

.container .section .content div.facts > .fact {
    margin-bottom: 15px;
}